Package: rebuscalc-dbgsym
Package-Type: ddeb
Source: rebuscalc
Version: 0.0.1-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Boris Štrbák <borisstrbak@gmail.com>
Installed-Size: 442
Depends: rebuscalc (= 0.0.1-1)
Section: debug
Priority: optional
Description: debug symbols for rebuscalc
Build-Ids: 4fe9aea76d76769e30ee43cae20fe33dd59975eb
