Package: rebuscalc-dbgsym
Package-Type: ddeb
Source: rebuscalc
Version: 0.0.1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Boris Strbak <borisstrbak@gmail.com>
Installed-Size: 445
Depends: rebuscalc (= 0.0.1)
Section: debug
Priority: optional
Description: debug symbols for rebuscalc
Build-Ids: c979758f45a0ede1592a666d94e24db37144f67b
