Package: rebuscalc
Version: 0.0.1-1
Architecture: amd64
Maintainer: Boris Štrbák <borisstrbak@gmail.com>
Installed-Size: 102
Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0), libqt5core5a (>= 5.9.0~beta), libqt5gui5 (>= 5.0.2), libqt5widgets5 (>= 5.0.2), libstdc++6 (>= 5.2)
Section: Utilities
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: RebusCalc
 RebusCalc is advanced app which helps you with daily mathematical problems but also due to it's advanced functionality you can use it for many other purposes as scientific calculation.
